.container div{
    border: 1px solid black;
    padding: 10px;
}
.container{
    display: grid;
    grid-template-areas: 
                                'header header header'
                                'sidebar content nav'
                                'footer footer footer' ;
    grid-gap: 10px;
    grid-template-columns: 150px 1fr;
}
.header{
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
}
.content{
    grid-area: content;
}
.nav{
    grid-area: nav;
}
.footer{
    grid-area: footer;
}